@media(min-width:758px) {
    

header{
    height:100px;
    background-color: blue;    
}
section{
    height: 500px;
}
.part
{
    float:left;
    width:49.5%;
    background-color: brown;
    border:1px solid red;
    height: 100%;
}

footer{
    height: 50px;
    background-color: blue;
}
}

@media(max-width:758px) /* less than 758px */ {
    

    header{
        height:50px;
        background-color:orange;    
    }
    section{
        height: 500px;
    }
    .part
    {
        background-color: brown;
        border:1px solid red;
        height: 50%;
        clear: both;
    }
    
    footer{
        height: 50px;
        background-color: pink;
    }
    }