*{
    margin: 0px;
}
nav{
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 55%, rgba(0, 212, 255, 1) 100%);
position: fixed;
width:100%;
height: 90px;

}
nav ul li{
    display: inline-block;
    margin-left: 20px;

}

nav ul li a{
    color:white;
    font-size:30px;
}

section{
    padding-top: 90px;
    height: 500px;
}

footer{
    height: 50px;
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 55%, rgba(0, 212, 255, 1) 100%);
}